<div class="container">

  <h2>Get On-Call by Block</h2>

  <form>

    <input 
      type="number" 
      [(ngModel)]="floor" 
      name="floor"
      placeholder="Enter Floor"
    />

    <input 
      type="number" 
      [(ngModel)]="code" 
      name="code"
      placeholder="Enter Block Code"
    />

    <button type="button" (click)="getByBlock()">Get Details</button>

  </form>

  <!-- RESULT -->
  

</div>
<div *ngIf="data" class="result">

    <h3>On-Call Details</h3>

    <div *ngIf="data?.data?.length > 0" class="card">

      <table class="table">

        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Floor</th>
            <th>Block</th>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of data.data">
            <td>{{ item.nurseEmployeeId }}</td>
            <td>{{ item.nurseName }}</td>
            <td>{{ item.blockFloor }}</td>
            <td>{{ item.blockCode }}</td>
            <td>{{ item.onCallStart | date:'short' }}</td>
            <td>{{ item.onCallEnd | date:'short' }}</td>
          </tr>
        </tbody>

      </table>

    </div>

    <div *ngIf="data && data.data?.length === 0" class="no-data">
      No records found
    </div>

  </div>