<div class="container">

  <h2>Get Rooms by Block</h2>

  <div class="form-box">
    <input type="number" [(ngModel)]="floor" placeholder="Enter Floor">
    <input type="number" [(ngModel)]="code" placeholder="Enter Block Code">
    <button (click)="getRooms()">Get Rooms</button>
  </div>

  <!-- ERROR -->
  <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>

  <!-- ✅ TABLE -->
  <div *ngIf="rooms.length > 0" class="card">

    <table class="table">

      <thead>
        <tr>
          <th>Room No</th>
          <th>Type</th>
          <th>Status</th>
          <th>Floor</th>
          <th>Block</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let room of rooms">

          <td>{{ room.roomNumber }}</td>
          <td>{{ room.type }}</td>

          <td>
            {{ room.unavailable ? 'Unavailable' : 'Available' }}
          </td>

          <td>{{ room.blockFloor }}</td>
          <td>{{ room.blockCode }}</td>

        </tr>
      </tbody>

    </table>

  </div>

</div>