<div class="container">
  <h2>All Patients</h2>

  <button (click)="fetchAll()">Fetch Patients</button>

  <!-- 🔥 DEBUG: ADD HERE -->
  <pre>{{ data | json }}</pre>

  <!-- TABLE -->
  <table *ngIf="data && data.length > 0">
    <tr>
      <th>SSN</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Insurance</th>
      <th>PCP</th>
    </tr>

    <tr *ngFor="let p of data">
      <td>{{ p.ssn }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.address }}</td>
      <td>{{ p.phone }}</td>
      <td>{{ p.insuranceId }}</td>
      <td>{{ p.pcp }}</td>
    </tr>
  </table>
</div>