<div class="container">

  <h2>Delete On-Call by Nurse</h2>

  <div class="form-box">

    <input 
      type="number" 
      [(ngModel)]="employeeId" 
      placeholder="Enter Employee ID"
    >

    <button (click)="delete()">Delete</button>

  </div>

  <!-- RESULT -->
  <div *ngIf="data" class="result">

    <div class="card">
      <p class="success">{{ data.message }}</p>
    </div>

  </div>

  <!-- ERROR -->
  <div *ngIf="errorMsg" class="result">

    <div class="card">
      <p class="error">{{ errorMsg }}</p>
    </div>

  </div>

</div>