<div class="page-box">

  <h2>Get Nurse By ID</h2>

  <input 
    type="text"
    [(ngModel)]="id"
    placeholder="Enter Employee ID"
  >

  <br><br>

  <button (click)="getById()">Get Nurse</button>

  <!-- 🔴 Error -->
  <p style="color:red;" *ngIf="errorMsg">
    {{ errorMsg }}
  </p>

  <!-- 🟢 TABLE -->
  <table *ngIf="nurse" border="1"
         style="margin-top:20px; width:100%; text-align:center;">

    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Registered</th>
        <th>SSN</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{ nurse.employeeId }}</td>
        <td>{{ nurse.name }}</td>
        <td>{{ nurse.position }}</td>
        <td>{{ nurse.registered }}</td>
        <td>{{ nurse.ssn }}</td>
      </tr>
    </tbody>

  </table>

</div>