<div class="container">

  <h2>Get Procedure By Code</h2>

  <input 
  type="number"
  [(ngModel)]="code"
  (ngModelChange)="onCodeChange()"
  placeholder="Enter Procedure Code"
/>

  <button (click)="fetch()">Fetch</button>

  <!-- LOADING -->
  <p *ngIf="loading">Loading...</p>   

  <!-- ERROR -->
  <p class="error" *ngIf="error">{{ error }}</p>

  <!-- RESULT -->
  <div class="result" *ngIf="!loading && procedure">
    <p><b>Code:</b> {{ procedure.code }}</p>
    <p><b>Name:</b> {{ procedure.name }}</p>
    <p><b>Cost:</b> {{ procedure.cost }}</p>
  </div>

</div>