<div class="container">
  <h2>✏️ Update Appointment</h2>

  <input [(ngModel)]="appointmentId" placeholder="Appointment ID">
  <input [(ngModel)]="patientSsn" placeholder="Patient SSN">
  <input [(ngModel)]="prepNurseId" placeholder="Prep Nurse ID Optional">
  <input [(ngModel)]="physicianId" placeholder="Physician ID">

  <label>Start Time</label>
  <input type="datetime-local" [(ngModel)]="starttime">

  <label>End Time</label>
  <input type="datetime-local" [(ngModel)]="endtime">

  <input [(ngModel)]="examinationRoom" placeholder="Examination Room">

  <button (click)="updateAppointment()">Update</button>

  <p class="success" *ngIf="success">{{ success }}</p>
  <p class="error" *ngIf="error">{{ error }}</p>
</div>