<div class="container">
  <h2>Patient Details</h2>

  <form (submit)="$event.preventDefault()">

    <input type="number" placeholder="SSN" [(ngModel)]="patient.ssn" name="ssn">
    <p class="error" *ngIf="errors.ssn">{{ errors.ssn }}</p>

    <input type="text" placeholder="Name" [(ngModel)]="patient.name" name="name">
    <p class="error" *ngIf="errors.name">{{ errors.name }}</p>

    <input type="text" placeholder="Address" [(ngModel)]="patient.address" name="address">
    <p class="error" *ngIf="errors.address">{{ errors.address }}</p>

    <input type="text" placeholder="Phone" [(ngModel)]="patient.phone" name="phone">
    <p class="error" *ngIf="errors.phone">{{ errors.phone }}</p>

    <input type="number" placeholder="Insurance ID" [(ngModel)]="patient.insuranceId" name="insuranceId">
    <p class="error" *ngIf="errors.insuranceId">{{ errors.insuranceId }}</p>

    <input type="number" placeholder="Physician ID" [(ngModel)]="patient.physicianId" name="physicianId">

    
    <p class="error" *ngIf="errors.pcp">{{ errors.pcp }}</p>

    <p class="backend-error" *ngIf="backendError">{{ backendError }}</p>
    <p class="success" *ngIf="success">{{ success }}</p>

    <button type="button" (click)="submit()">Submit</button>

  </form>
</div>