<div class="page-box">

  <h2>Create Nurse</h2>

  <form (submit)="$event.preventDefault()">

    <!-- Employee ID -->
    <input
      type="number"
      placeholder="Employee ID"
      [(ngModel)]="nurse.employeeId"
      name="employeeId"
    >
    <p class="error" *ngIf="errors.employeeId">
      {{ errors.employeeId }}
    </p>

    <!-- Name -->
    <input
      type="text"
      placeholder="Name"
      [(ngModel)]="nurse.name"
      name="name"
    >
    <p class="error" *ngIf="errors.name">
      {{ errors.name }}
    </p>

    <!-- Position -->
    <input
      type="text"
      placeholder="Position"
      [(ngModel)]="nurse.position"
      name="position"
    >
    <p class="error" *ngIf="errors.position">
      {{ errors.position }}
    </p>

    <!-- Registered -->
     <h3 style="color: white;">Registered</h3>
    <label>
      <input 
        type="checkbox"
        [(ngModel)]="nurse.registered"
        name="registered"
      >
      
    </label>
    <p class="error" *ngIf="errors.registered">
      {{ errors.registered }}
    </p>

    <!-- SSN -->
    <input
      type="number"
      placeholder="SSN"
      [(ngModel)]="nurse.ssn"
      name="ssn"
    >
    <p class="error" *ngIf="errors.ssn">
      {{ errors.ssn }}
    </p>

    <!-- Backend General Error -->
    <p class="backend-error" *ngIf="backendError">
      {{ backendError }}
    </p>

    <!-- Success -->
    <p class="success" *ngIf="success">
      {{ success }}
    </p>

    <button type="button" (click)="create()">Submit</button>

  </form>

</div>