<div class="login-container">

  <div class="login-box">

    <h2>Login</h2>

    <!-- Show selected user -->
    <p *ngIf="username">Logging in as: <b>{{ username }}</b></p>

    <!-- 🔥 IMPORTANT: disable autofill -->
    <form (ngSubmit)="onLogin()" #loginForm="ngForm" autocomplete="off">

      <div class="form-group">
        <label>Username:</label>
        <input 
          type="text" 
          [(ngModel)]="username" 
          name="fakeuser"             
          autocomplete="off"
          required>
      </div>

      <div class="form-group">
        <label>Password:</label>
        <input 
          type="password" 
          [(ngModel)]="password" 
          name="fakepass"             
          autocomplete="new-password"
          required
        >
      </div>

      <button type="submit">Login</button>

    </form>

    <!-- Error -->
    <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>

    <!-- Back -->
    <button class="back-btn" (click)="goback()">⬅ Back</button>

  </div>

</div>